asgiref==3.7.2
asttokens
colorama
comm     
debugpy 
decorator
distlib  
Django
django-phonenumber-field
executing
filelock
gunicorn
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
packaging
parso
phonenumbers
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
python-dateutil
pywin32
pyzmq
six
sqlparse
stack-data
tornado
traitlets==5.14.1
tzdata==2023.4
virtualenv==20.25.1
wcwidth==0.2.13
psycopg2-binary