asgiref==3.7.2
asttokens
colorama
comm     
debugpy 
decorator
distlib  
Django
django-phonenumber-field
executing
filelock
gunicorn
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
packaging
parso
phonenumbers
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
python-dateutil
pyzmq
six
sqlparse
stack-data
tornado
traitlets
tzdata
virtualenv
wcwidth
psycopg2-binary